# Created by https://www.gitignore.io/

### Packer ###
### 
# Cache objects
packer_cache/

### Vagrant ###
.vagrant/
*.box

### Terraform ###
# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/

### Terraform Patch ###

*.tfvars

### direnv
.envrc
